Package: cw1-6005-fw3e11
Version: 1.0.5
Architecture: all
Maintainer: Feng Wang <fw3e11@ecs.soton.ac.uk>
Installed-Size: 76
Depends: php5 (>= 5)
Section: web
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: A Simple RSS Reader
 cw1-6005-fw3e11 is a simple RSS feed reader written in php for the INFO6005 module at University of Southampton.
